@font-face {
    font-family: 'DynalightRegular';
    src: url('../fonts/dynalight-regular-webfont.eot');
    src: url('../fonts/dynalight-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dynalight-regular-webfont.woff') format('woff'),
         url('../fonts/dynalight-regular-webfont.ttf') format('truetype'),
         url('../fonts/dynalight-regular-webfont.svg#DynalightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #262523 url('../images/background.jpg') no-repeat center top;
	color:#ffffff;
	margin:0;
}

#header{
    position: relative;
    margin-bottom: 50px;
}
}
#header span.signboard {
    float: right;
    background: url(../images/schedule.gif) no-repeat;
    display: block;
    height: 125px;
    width: 154px;
    position: relative;
    z-index: 9;
}
#header .tagline {
    background: url(../images/breakfast-buffet.gif) no-repeat;
    display: inline-block;
    height: 80px;
    width: 462px;
}

.header_left{
    margin-left: 100px;
    font-size: 30px;
}
.header_right{
    float: right;
    font-size: 15px;
}
#infos {
    display: inline-block;
    padding: 20px 0 0 10px;
}
#infos li {
    float: left;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    padding: 0 10px;
}
#infos li a {
    color:#1e6498;
    display:block;
    height: 21px; 
    padding-top: 6px;
    text-decoration:none;
}
#infos li a:hover {
    color: #6dcff6;
}
#infos li.home a {
    background-position: 0 -73px;
    padding-left: 35px;
}
#infos li.phone a {
    background-position: 0 -147px;
    padding-left: 39px;
}
#infos li.address a {
    background-position: 0 -110px;
    padding-left: 40px;
}

#infos1 {
    display: inline-block;
    width: 790px;
    margin: 0;
    padding: 0;
}
#infos1 li {
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    list-style-type: none;
    padding: 0 10px;
}
#infos1 li a {
    color:#ffffff;
    display:block;
    /*height: 21px;*/
    padding-top: 6px;
    text-decoration:none;
    text-shadow: 0 1px #252525, 0 1px #252525, 0 -1px #252525, -1px 0 #252525;
}
#infos1 li a:hover {
    color: #6dcff6;
}

/* footer */
#footer {
    color: #949494;
    /*font-family: Times New Roman;*/
    width: 960px;
    margin: 0 auto;
}
#footer ul.advertise {
    display: inline-block;
    width: 940px;
    margin: 0 auto 41px;
    padding: 0 10px;
}
#footer ul.advertise li {
    float: left;
    background: url(../images/braces.gif) 15px 0 no-repeat;
    list-style-type: none;
    height: 180px;
    width: 210px;
    margin-right: 13px;
    padding: 0 45px;
    text-align: center;
    overflow: hidden;
}
#footer ul.advertise li h2 {
    color: #6dcff6;
    font-family: 'DynalightRegular', cursive;
    font-size: 53px;
    line-height: 53px;
    font-weight: normal;
    margin: 0;
    padding: 6px 0;
} 
#footer ul.advertise li p, #footer ul.advertise li a {
    color: #ffffff;
    font-size: 1.2em;
    line-height: 20px;
    margin: 0;
    text-decoration: none;
}

#footer ul.advertise li.delivery a {
    background-position: 170px 10px;
    display: block;
    width: 170px;
    padding-right: 16px;
    padding-top: 6px;
    text-shadow: 1px 1px 1px #252525;
}
#footer ul.advertise li.event h2 {
    width: 215px;
}
#footer ul.advertise li.connect a.fb {
    background-position: 0 -26px;
    display: inline-block;
    height: 37px;
    width: 17px;
    margin-right: 8px;
}
#footer ul.advertise li.connect a.twitr {
    background-position: 0 -184px;
    display: inline-block;
    height: 37px;
    width: 49px;
}
#footer ul.advertise li p a, #footer ul.advertise li.delivery p a {
    background: none;
    display: inline;
    font-style: oblique;
    padding-right: 0;
}
#footer ul.advertise li p a:hover {
    color: #949494;
}

#footer div {
    line-height: 24px;
    text-align: center;
}
#footer div a {
    color: #132446;
    padding: 0 10px;
    text-decoration: none;
}
#footer div a:hover, #footer div ul li.selected a {
    color: #101010;
}
#footer div ul {
    display: inline-block;
    height: 21px;
    margin: 0 auto;
    padding: 0;
}
#footer div ul li {
    float: left;
    list-style-type: none;
    text-align: center;
}
#footer div ul li a {
    border-right: 1px solid #949494;
}

#footer div ul li:last-child a {
    border-right: none;
}

#footer div ul li.last a {
    border: 0;
}
#footer div span {
    display: block;
    line-height: 24px;
    margin-bottom: 20px;
}
#footer div span a {
    padding: 0;
}